@{
    ViewBag.Title = "Talent Agile Shop";
}

<div class="jumbotron">
    <h1>Talent Agile Shop</h1>
    <p class="lead">The ultime site to buy agile stuffs</p>
    <p><a id="startShopping" href="@Url.Action("Catalog","Home")" class="btn btn-primary btn-lg">Start shopping ! &raquo;</a></p>
</div>

